* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*font-family: 'Old Standard TT', serif; */
    font-family: 'Playfair Display', serif;
    /* font-family: 'Yellowtail', cursive; */
}

.contenedor {
    max-width: 100%;
    overflow: hidden;
}

.slider-contenedor {
    max-width: 100%;
    display: flex;
}

.contenido-slider {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*sin el flex shrink nos encoje todo */
    flex-shrink: 0;
    background-image: url(../img/svg/main-bg.svg);
    background-position: center center;
    background-size: cover;
}

.contenido-slider:nth-child(2) {
    background-image: url(../img/svg/main-bg1.svg);
}

.contenido-slider:nth-child(3) {
    background-image: url(../img/svg/main-bg3.svg);
}

.contenido-slider>img {
    width: 400px;
}

.contenido-slider>div {
    width: 40%;
}

.contenido-slider h2 {
    font-weight: 300;
    text-align: justify;
    line-height: 2.5rem;
}

.contenido-slider a {
    display: block;
    margin-top: 1rem;
    background-color: rgba(252, 250, 250, 0.788);
    color: rgba(73, 72, 72, 0.87);
    max-width: 100%;
    text-align: center;
    border-radius: 5px;
    padding: 1rem;
    text-decoration: none;
}

@media screen and (max-width:900px) {
    .contenido-slider>img {
        max-width: 250px;
    }
    .contenido-slider>div {
        max-width: 40%;
    }
    .contenido-slider h2 {
        font-size: 23px;
    }
}

@media screen and (max-width:600px) {
    .contenido-slider {
        flex-direction: column-reverse;
    }
    .contenido-slider>div {
        max-width: 80%;
    }
}